
:root{
    --color-principal:#ffffff;
    --color-secundarios:#000000;
    --color-tercero:#1E1A13;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 1937px;
  }
 .head-iguana { 
    display: flex;
    top: 0;
    position: sticky;
    background-color:var(--color-secundarios);
    justify-content: center;
    align-items: center;   
 }
 .head-iguana h1 {
    text-align: left;
    font-size:50px ;
    font-weight:500;
    letter-spacing: 0px;
    color: var(--color-principal);
    opacity: 1;
    text-transform: uppercase;
 }
.bg-header {
    width: 100%;
    height: 727px;
    background: url(/ASSETS/img/bg-header.jpg) no-repeat center;
    background-color: var(--color-secundarios);

    
    

}
.desc-section {
    height: 348px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background:var(--color-secundarios) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.texto-info {    
    width: 475px;
    height: 197px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--color-principal);
    opacity: 1;

}
.info-imagen {
    top: 854px;
    left: 731px;
    background: url(/ASSETS/img/iguana-1.jpg) 0% 0% no-repeat padding-box;
    height: 237px;
    width: 399px;
    background-size: cover;
}

.caracteristicas {
    height: 348px;
    align-items: center;
    background-color: var(--color-tercero);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .caracteristicas h2 {
    color:var(--color-principal);
    font-size: 40px;
    font-weight: 500;
    margin: 32px 0;
    text-transform: uppercase;
  }
  
  .caja-iconos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    width: 100%;
  }
  
  .caja-icono i{
    color: var(--color-principal);
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .caja-icono p {
    font-weight: 300;
    font-size: 30px;
    color: var(--color-principal);
  }
  /* BUSCAR COMO CENTRAR BIEN CAJA-ICONOS 127-148 */
.galeria{
    display: flex;
    justify-content: center;
    height: 348px;
    background-color: var(--color-secundarios);
}
.galeria img{
    padding-top: 75px;
    margin: 0 16px;
    height: 202px;
}
footer {
    display: flex;
    justify-content: center;   
    background-color: var(--color-tercero);
    height: 102px;
}
footer p{
    margin-top: 39px;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--color-principal);
    opacity: 1;
}
.final a{
    color: var(--color-principal);
}